body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}

form{
    width:fit-content;
    padding: 4px;
    margin-left: 36px;
}

textarea {
    border: 1pt solid grey;
    border-radius: 6px;
}
textarea::-webkit-scrollbar {
    width: 10px;
}
textarea::-webkit-scrollbar-button {
    display: none;
}
textarea::-webkit-scrollbar-thumb {
    background:rgb(0, 152, 212);
    border-radius: 6px;
}
textarea::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: black;
    transition: .4s;
}
a:hover {
    color: whitesmoke;
}

#kiiras {
    height: 150px;
    width: 500px;
    margin-top: 5px;
    padding: 4px;
    margin-left: 36px;
}
#loader{
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4.5pt solid lightgrey;
    border-top: 4.5pt solid rgb(0, 152, 212); 
    margin:auto;
    margin-top:-40px;
}
@keyframes forog {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.gomb {
    background-color: rgb(209, 208, 208);
    border-radius: 4px;
    position: relative;
    width: fit-content;
    padding: 4px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}
.gomb::before{
    content: "";
    position: absolute;
    inset: 0;
    background:linear-gradient(45deg, rgb(194, 188, 188) 40%, rgb(0, 152, 212) 50%, rgb(194, 188, 188) 60%);
    background-size: 200% 200%;
    background-position: 0% 100%;
    border-radius: 8px;
    z-index: -1;
    transition: .3s;
}
.gomb:hover::before{
    margin: -4px;
    animation: szines 4s linear infinite;
    animation-direction: alternate;
}
@keyframes szines {
    0% {background-position: 0% 100%;}
    100% {background-position: 100% 0%;}
}

#navbar {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 28px;
    padding: 6px;
    padding-top: 12px;
    overflow: hidden;
    background-color:rgb(194, 188, 188);
    transition: .5s;
}
#navbar_gomb {
    cursor: pointer;
    float: right;
    padding-bottom: 14px;
}
.navbar_choice {
    padding-bottom: 8px;
}
.navbar_choice_title {
    display: none;
}

#hamburger {
    cursor: pointer;
    float: right;
    padding-bottom: 14px;
    
}
#hamburger_1,#hamburger_2, #hamburger_3 {
    border-top: 3px solid black;
    width: 25px;
    margin: 3px;
    overflow: hidden;
    transition: .5s;
}
#hamburger:hover #hamburger_1, #hamburger:hover #hamburger_2, #hamburger:hover #hamburger_3{
    border-color: white;
}